.user-viewbtn 
{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  background-color:  rgb(70, 161, 197);  
  color: black;
  border: 2px solid rgb(70, 161, 197);
}

.user-viewbtn:hover {
  background-color: rgb(70, 161, 197);
  color: white;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.custom_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.custom_table td, .custom_table th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-left: 0;
  text-align: center;
}

/* .custom_table tr:nth-child(even){background-color: #f2f2f2;} */

.custom_table tr:hover {background-color: rgb(255, 255, 255);}

tr td:hover {background: rgb(70, 161, 197); color: #11233b};

  /* .custom_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    background-color: #11233b;
    color: white;
    text-align: center;
  }  */

#custom_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: rgb(255, 255, 255);
}

#custom_table td, #custom_table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* #custom_table tr:nth-child(even){background-color: #f2f2f2;} */

#custom_table tr:hover {background-color: #ddd;}

#custom_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #4CAF50; */
  background-color: rgb(70, 161, 197);
  color: white;
  text-align: center;
}    